<div class="userguide-container">
    <nav>
        <h4 class="bg-blue-500 text-blue-200 p-3">How to use Student Fieldwork Tracker</h4>
    </nav>
    <div class="container text-blue-500 p-4">
        <h2 class="font-bold">TABLE OF CONTENTS</h2>
        <ol style="list-style-type: decimal;" class="text-xl font-bold">
            <li start="4">Hour Entries
                <ol type="1">
                    <li>Adding an Hour Entry</li>
                    <li>Editing an Hour Entry</li>
                    <li>Deleting an Hour Entry</li>
                </ol>
            </li>
            <li>Converting Time to Decimal</li>
            <li>Supervisors</li>
            <li>Organizations</li>
            <li>Fieldwork Type (Supervised vs Concentrated Supervised Fieldwork)</li>
            <li>My Profile</li>
            <li>Previous Motnh/Hours in Bulk</li>
            <li>Account Access</li>
        </ol>
    </div>
</div>
