.supervisorDropdown {
    border: 0.8px solid grey;
    border-radius: 6px;
    height: 5.4vh;
    width: 40vb;
    font-size: medium;
    padding: 2;
}

.buttonWidth {
    width: 40.2vb;
}

.rightButtonWidth {
  width: 48.2vb;
}

.bi-x-circle-fill {
  color: rgb(119, 23, 209);
}

.bi-x-circle-fill path {
  fill: rgb(31, 204, 224);
}

.bi-check-circle-fill {
  color: rgb(22, 189, 208);
}

.bi-check-circle-fill path:last-child {
  color: rgb(31, 204, 224);
}

.textTrue {
  color: rgb(49, 132, 49);
}

.textFalse {
  color: red;
}
