<div>
    <div class="bg-blue-600 text-white p-4">
        <h4 class="font-semibold">
            Finally... <br>a simple, easy way to effortlessly track your <br>Independent Fieldwork hours.
            <br><br>Claim your free slot now.
        </h4>
        <button type="button" class="bg-white text-lg text-blue-600 rounded p-2 shadow-lg font-semibold hover:text-blue-400" (click)="scrollToForm(registrationForm)">REGISTER HERE!</button>
    </div>
    <div class="bg-blue-100 p-5 text-center">
        <h2 class="text-blue-600 font-semibold">I AM A..</h2>
        <br>
        <div class="flex justify-evenly">
            <button type="button" class="bg-blue-600 text-white shadow-lg rounded p-2 w-1/5 hover:text-blue-400"><h4>SUPERVISEE</h4><p class="text-lg">I am tracking my hours.</p></button>
            <button type="button" class="bg-white text-blue-600 shadow-lg rounded p-2 w-1/5 hover:text-blue-400"><h4>SUPERVISER</h4><p class="text-lg">I am supervising supervisees.</p></button>
        </div>
    </div>
    <div class="p-4">
        Supervisee/Supervisor details
    </div>
    <div class="bg-blue-600 p-4 text-center">
        <h2 class="text-white font-semibold">Register for Free!</h2><br>
        <form #registrationForm class="signup-form bg-blue-100 w-1/2 text-start p-2 px-4 mx-auto" #signupform="ngForm">
            <div class="form-group">
                <label for="fname" class="block text-lg font-semibold mb-2">Name<span class="required text-red-700 text-sm align-super">*</span></label>
                <div class="flex justify-around py-2">
                    <div class="flex w-1/3">
                        <input type="text" id="fname" name="fname" class="form-control w-full py-2 px-3 border bg-white rounded" required />
                    </div>
                    <div class="flex w-1/3">
                        <input type="text" id="lname" name="lname" class="form-control w-full py-2 px-3 border bg-white rounded" required />
                    </div>
                </div>
                <div class="flex justify-around">
                    <h6>First</h6>
                    <h6>Last</h6>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="block text-lg font-semibold mb-2">Email<span class="required text-red-700 text-sm align-super">*</span></label>
                <div class="flex justify-around py-2">
                    <div class="flex w-1/3">
                        <input type="text" id="email" name="email" class="form-control w-full py-2 px-3 border bg-white rounded" required />
                    </div>
                    <div class="flex w-1/3">
                        <input type="text" id="confemail" name="confemail" class="form-control w-full py-2 px-3 border bg-white rounded" required />
                    </div>
                </div>
                <div class="flex justify-around">
                    <h6>Enter Email</h6>
                    <h6>Confirm Email</h6>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="block text-lg font-semibold mb-2">Password<span class="required text-red-700 text-sm align-super">*</span></label>
                <div class="flex justify-around py-2">
                    <div class="flex w-1/3 relative">
                        <input [type]="fieldTextType ? 'text' : 'password'" id="password" name="password" class="form-control w-full py-2 px-3 border bg-white rounded pr-10" [(ngModel)]="password" (ngModelChange)="checkPasswordStrength()" required />
                        <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                          <i
                            class="font-extrabold bi"
                            [ngClass]="{
                              'bi-eye-slash': !fieldTextType,
                              'bi-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"
                            style="background: none; padding: 4px; border-radius: 0 4px 4px 0;"
                          ></i>
                        </span>
                      </div>
                    <div class="flex w-1/3 relative">
                        <input [type]="fieldTextType ? 'text' : 'password'"  id="confpassword" name="confpassword" class="form-control w-full py-2 px-3 border bg-white rounded" required />
                        <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                            <i
                              class="font-extrabold bi"
                              [ngClass]="{
                                'bi-eye-slash': !fieldTextType,
                                'bi-eye': fieldTextType
                              }"
                              (click)="toggleFieldTextType()"
                              style="background: none; padding: 4px; border-radius: 0 4px 4px 0;"
                            ></i>
                          </span>
                    </div>
                </div>
                <div class="flex justify-around">
                    <h6>Enter Password</h6>
                    <h6>Confirm Password</h6>
                </div><br>
                <div class="bg-yellow-50 text-center p-4 rounded shadow-lg" [ngClass]="strengthLevel">
                    <h5>{{ strengthValue }}</h5>
                </div>
            </div>
            <br>
            <div class="form-group">
                <h6 for="rsupervisee" class="block text-lg font-semibold mb-2">User Type<span class="required text-red-700 text-sm align-super">*</span></h6>
                <div class="flex items-center">
                    <input type="radio" id="rsupervisee" name="entity" value="Supervisee - I am tracking my hours." />&nbsp;&nbsp;
                    <label for="rsupervisee" class="block text-lg mb-2">Supervisee - I am tracking my hours.</label>
                </div>
                <div class="flex items-center">
                    <input type="radio" id="rsupervisor" name="entity" value="Supervisor - I am supervising supervisees tracking their hours." />&nbsp;&nbsp;
                    <label for="rsupervisor" class="block text-lg mb-2">Supervisor - I am supervising supervisees tracking their hours.</label>
                </div>
            </div>
            <br>
            <button type="submit" class="mx-auto px-4 py-2 bg-blue-600 text-lg text-white font-semibold rounded shadow-lg focus:outline-none focus:ring focus:border-blue-400 focus:bg-blue-500 focus:opacity-100 hover:bg-blue-500 hover:text-white" [disabled]="signupform.invalid">REGISTER</button>
        </form>
    </div>
</div>
