* {
    font-family: Georgia, sans-serif;
}

.empty {
    background-color: rgba(232, 227, 183, 0.645);
    color: black;
}

.very-weak {
    background-color: rgba(223, 80, 80, 0.586);
    color: white;
  }
  
  .weak {
    background-color: rgba(232, 165, 71, 0.644);
    color: white;
  }
  
  .medium {
    background-color: #e0d56db7;
    color: white;
  }
  
  .strong {
    background-color: rgba(51, 171, 51, 0.601);
    color: white;
  }