<nav class="no-print bg-blue-100 p-3 sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-4xl text-blue-600 font-bold"><a class="nav-link" routerLink="/">Student Fieldwork Tracker</a></h1>
      <ul class="flex space-x-4">
        <li *ngIf="(isLoggedIn$ | async)"><a routerLink="/my-profile" class="nav-link">My Profile</a></li>
        <li><a routerLink="/user-guide" class="nav-link">User Guide</a></li>
        <li *ngIf="(isLoggedIn$ | async); else loginBlock"><a (click)="logout()" class="nav-link">Logout</a></li>
        <ng-template #loginBlock><li><a routerLink="/login" class="nav-link">Login</a></li></ng-template>
      </ul>
    </div>
</nav>
